# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/react_test/bak_wfo_react
/react_test/react_louis
/react_test/react-demos-master

/react_test2/bak_wfo_react
/react_test2/react_louis
/react_test2/react-demos-master

.idea